body {
  margin: 0px;
  font-family: helvetica, sans-serif;
  line-height: 25px;
}
section, header, footer {
  padding: 40px 10px;
  max-width: 700px;
  margin: 0px auto;
}
a, a:hover, a:visited {
  color: #ca0000;
}
h1 {
  font-size: 24px;
}

#map-container {
  width: 100%;
  height: 500px;
  background: #cad2d3;
  max-width: 700px;
  margin: 0px auto;
  border-radius: 6px;
}

#data-table {
  width: 100%;
}
#data-table th {
  text-align: left;
}
#data-table .totals {
  font-weight: bold;
}

li {
  margin-bottom: 20px;
}
