body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, sans-serif;
  line-height: 25px;
  color: #000a12;
  font-size: 21px;
}
h1 {
  font-size: 48px;
  font-weight: 800;
}
small {
  font-size: 16px;
}
section, header, footer {
  padding: 40px 10px;
  max-width: 700px;
  margin: 0px auto;
}
a, a:hover, a:visited {
  color: #000a12;
}
h1 {
  font-size: 24px;
}

#kpi table {
  text-align: center;
  width: 100%;
  border-spacing: 0px 10px;
}
#kpi .kpi-metrics {
  font-size: 28px;
  font-weight: 800;
}
#kpi .kpi-labels {
  font-size: 18px;
  font-weight: 700;
}

#map-container {
  width: 100%;
  height: 500px;
  background: #cad2d3;
  max-width: 700px;
  margin: 0px auto;
  border-radius: 6px;
}

#map-legend {
  padding-top: 10px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#map-legend > div {
  display: inline-block;
}
#map-legend span.one {
  color: #fdeacb;
}
#map-legend span.two {
  color: #fb9b7f;
}
#map-legend span.three {
  color: #f44336;
}
#map-legend span.four {
  color: #ba000d;
}

#data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
  font-size: 16px;
}
#data-table tr:nth-child(even) {
  background-color: #eaeff1;
}
#data-table th {
  text-align: left;
  font-size: 12px;
}
#data-table td {
  padding: 5px 0px;
}
#data-table td:first-child {
  padding: 5px;
}
#data-table .totals {
  font-weight: bold;
}

#helpful-links li {
  margin-bottom: 20px;
  word-wrap: break-word;
}

footer a, footer a:active {
  color: #1976d2 !important;
}
