<footer>
  <p>
    Built and maintained by <a href="https://twitter.com/reustle" target="_blank">Shane Reustle</a> (<a href="https://reustle.co" target="_blank">Reustle K.K.</a>) and <a href="https://github.com/reustle/covid19japan/graphs/contributors" target="_blank">these contributors</a>.
    Concept and design by <a href="https://jiahuizhou.design/" target="_blank">Jiahui Zhou</a>.
    Contribute to this project <a href="https://github.com/reustle/covid19japan" target="_blank">on GitHub</a>.
  </p>
  <p>
    A warm thank you to <a href="https://mapbox.com/community/" target="_blank">Mapbox Community</a> and <a href="https://sentry.io" target="_blank">Sentry.io</a> for supporting this project with their services.
  </p>
</footer>
