---
---

body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, sans-serif;
  line-height: 25px;
  color: #000a12;
  font-size: 21px;
}
h1 {
  font-size: 48px;
  font-weight: 800;
}
h4 {
  font-size: 21px;
  margin-bottom: 20px;
}  
h5 {
  font-weight: 400;
  font-size: 15px;
  padding-left: 5px;
  font-style: italic;
  text-align: right;
  margin: 5px auto 0px auto;
  max-width: 650px;
}
small {
  font-size: 16px;
}
section, header, footer {
  padding: 30px 10px;
  max-width: 650px;
  margin: 0px auto;
}
.center-offset {
  max-width: 650px;
  margin: 0px auto;
  padding: 0px 10px;
}
header {
  padding-top: 10px;
  
  .lang-picker {
    text-align: right;
    
    a {
      text-decoration: none;
    }
  }
}

a, a:hover, a:visited {
  color: #000a12;
}
h1 {
  font-size: 24px;
}

#kpi {
  padding-top: 20px;
  
  table {
    text-align: center;
    width: 100%;
    border-spacing: 0px 10px;
  }

  .kpi-metrics {
    font-size: 28px;
   font-weight: 800;
  }

  .kpi-labels {
    font-size: 18px;
    font-weight: 700;
  }

  #kpi-confirmed {
    color: rgb(244,67,54);
  }

  #kpi-recovered {
    color: rgb(25,118,210);
  }

  #kpi-deceased {
    color: rgb(55,71,79);
  }
}

#map-container {
  width: 100%;
  height: 400px;
  background: #cad2d3;
  max-width: 650px;
  margin: 0px auto;
  border-radius: 6px;
}

#map-legend {
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    display: inline-block;
  }
  
  span.one {
    color: #fdeacb;
  }
  
  span.two {
    color: #fb9b7f;
  }

  span.three {
    color: #f44336;
  }

  span.four {
    color: #ba000d;
  }
}

#trend-chart-container {
  height: 250px;
  padding: 0px 10px;
}
#chart-legend-container {
  padding-bottom: 10px;
  
  #chart-legend {
    padding: 0px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  > div {
    display: inline-block;
  }
  span.one {
    color: rgb(244,67,54);
  }
  span.two {
    color: rgb(25,118,210);
  }
  span.three {
    color: rgb(55,71,79);
  }
  span.four {
    color: rgb(123,71,19);
  }
}

#prefectures-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
  font-size: 16px;

  tr:nth-child(even) {
    background-color: #eaeff1;
  }
  th {
    text-align: left;
    font-size: 12px;
  }
  td {
    padding: 5px 0px;
  }
  td:first-child {
    padding: 5px;
  }
  .totals {
    font-weight: bold;
  }
  .loading td {
    text-align: center;
    padding: 30px 0px;
  }
}

#helpful-links {
  li {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
}

footer {
  line-height: 34px;
  a, a:active {
    color: #1976d2 !important;
  }
}

.embed-mode {
  footer {
    font-size: 16px;
  }
}

// Loading Icon
.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #f44336;
  border-color: #f44336 transparent #f44336 transparent;
  animation: lds-dual-ring 1.6s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
