<!DOCTYPE HTML>
<html lang="en">
<head>

  <!-- Warning: Ugly code lies ahead -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Japan COVID-19 Coronavirus Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/styles.css">

  <link
    rel="icon"
    type="image/png"
    href="https://covid19japan.com/static/favicon.png"
  />
  <meta
    name="description"
    content="Live updates of the Coronavirus COVID-19 outbreak in Japan"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://covid19japan.com/" />
  <meta name="twitter:title" content="Japan COVID-19 Coronavirus Tracker" />

  <meta
    name="twitter:description"
    content="Live updates of the Coronavirus COVID-19 outbreak in Japan"
  />
  <meta property="og:title" content="Japan COVID-19 Coronavirus Tracker" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://covid19japan.com/" />
  <meta
    property="og:image"
    content="https://covid19japan.com/static/map.jpg"
  />
  <meta
    property="og:description"
    content="Live updates of the Coronavirus COVID-19 outbreak in Japan"
  />
</head>
<body>
  <script src="https://browser.sentry-cdn.com/5.12.1/bundle.min.js" integrity="sha384-y+an4eARFKvjzOivf/Z7JtMJhaN6b+lLQ5oFbBbUwZNNVir39cYtkjW1r6Xjbxg3" crossorigin="anonymous"></script>
  <script src="https://browser.sentry-cdn.com/5.12.1/captureconsole.min.js"></script>
  <script>
    Sentry.init({
      dsn: 'https://1c7127f5f5b2432d99a5bf44a3b74d08@sentry.io/2967034',
      debug: false,
      integrations: [
        new Sentry.Integrations.CaptureConsole({
          levels: ['error']
        })
      ]
    })
  </script>
  
  {{ content }}
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2580539-41"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-2580539-41');
  </script>

</body>
</html>
