body {
  margin: 0px;
  padding: 40px;
  font-family: helvetica, sans-serif;
}
section {
  margin-bottom: 40px;
}
nav {
  
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav li {
  display: inline-block;
  padding: 20px 10px;
}
