
$primary-black: rgb(0, 10, 18);
$color-confirmed: rgba(244, 67, 52, 1);
$color-confirmed-caption: rgba(244, 67, 52, 0.8);
$color-confirmed-light: rgba(244, 67, 52, 0.4);
$color-active: rgba(223, 14, 31, 1);
$color-active-caption: rgba(223, 14, 31, 0.8);
$color-active-light: rgba(223, 14, 31, 0.4);
$color-recovered: rgba(24, 118, 211, 1);
$color-recovered-caption: rgba(24, 118, 211, 0.8);
$color-recovered-light: rgba(24,118,211, 0.4);
$color-deceased:  rgba(54, 72, 79, 1);
$color-deceased-caption:  rgba(54, 72, 79, 0.8);
$color-deceased-light:  rgba(54,72,79, 0.4);
$color-tested: rgba(6, 67, 128, 1);
$color-tested-caption: rgba(6, 67, 128, 1);
$color-tested-light: rgba(6, 67, 128, 0.4);
$color-critical: rgb(114, 4, 5);
$color-critical-caption: rgba(114, 4, 5, 0.8);
$color-critical-light: rgba(114, 4, 5, 0.4);

$color-increment-today: $color-active;
$color-increment-yesterday:  rgb(128, 122, 122);

$color-background: rgb(248, 250, 251);
$color-light-caption: rgb(128, 122, 122);

$color-box-background: rgb(255, 255, 255);
$color-box-border: 1px solid rgba(164, 173, 192, 0.5);
$color-box-shadow:  0px 2px 4px 0px rgba(0,0,0,0.2);

$color-embed-background: rgb(255, 255, 255);
$color-value-label: rgb(190, 190, 190);

$color-inactive: rgb(48, 129, 48);

$color-title-light: rgb(128, 128, 128);
$color-title-dark: rgb(0, 10, 18);
