@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/c3/c3.min.css';

@import 'src/colors';
@import 'src/layout';

// Use border-box override for more simple box-sizing.
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  color: $primary-black;
}

#page  {
  max-width: $breakpoint-1200-page-width;
  margin: 0 auto;
}
@media (min-width: $breakpoint-960) and (max-width: $breakpoint-1200-less-than) {
  #page { max-width: $breakpoint-960-page-width; }
}
@media (min-width: $breakpoint-600) and (max-width: $breakpoint-960-less-than) {
  #page { max-width: $breakpoint-600-page-width; }
}
@media (min-width: $breakpoint-500) and (max-width: $breakpoint-600-less-than) {
  #page { max-width: $breakpoint-500-page-width; }
}
@media (max-width: $breakpoint-500) {
  #page { max-width: 90%;  }
}

// Title styles

h1 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: 800;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footnote {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  margin: 5px 10px 0px 10px;
}

header, footer {
  padding: 30px 0;
}

@media (max-width: $breakpoint-500) {
  header, footer { padding: 10px 0;  }
}


header {
  padding-top: 10px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    
    .lang-picker {
      display: inline;
      a {
        text-decoration: none;
        &.active {
          padding-bottom: 4px;
          border-bottom: solid 2px black;
          font-weight: 700;
        }
      }
    }
  }
}

a, a:hover, a:visited {
  color: #000a12;
}

.text-center {
  text-align: center;
}

// KPI Numbers.
@import 'src/components/Kpi/kpi';

// National charts
#national-charts { width: 100%; }

@media (min-width: $breakpoint-960) {
  #national-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;
  }
  #trend-chart-container { 
    margin: 10px;
    flex: 1;
    width: 50%;
  }
  #daily-increase-container { 
    margin: 10px;
    flex: 1;
    width: 50%;
  }
}

#daily-increase-chart, #trend-chart {
  min-height: 320px;
}

#daily-increase-chart-box, #trend-chart-box {
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  border: $color-box-border;
}

// Prefectural section

#prefecture-sections { width: 100%; }
@media (min-width: $breakpoint-960) {
  #prefecture-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;

    #prefecture-map-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }

    #prefecture-top-table-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }  
  }
}


#prefecture-trajectory-container {
  max-width: 800px;
  margin: 0 auto;
}


#prefecture-trajectory-chart {
  min-height: 500px;
}

#prefecture-trajectory-chart-box {
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  border: $color-box-border;
}

// Map Layout
// ----------

#prefecture-map-contents {
  width: 100%;
  border-radius: 10px;
  border: $color-box-border;
}

#map-container {
  width: 100%;
  height: 500px;
  background: #cad2d3;
  border-radius: 10px;
}

#map-legend {
  padding: 20px 10px;
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > div {
    display: block;
    height: 2em;
    padding: 0 1rem;
    white-space: nowrap;
    width: 30%;
  }

  span.one {
    color: #fdeacb;
  }

  span.two {
    color: #fb9b7f;
  }

  span.three {
    color: #f44336;
  }

  span.four {
    color: #ba000d;
  }

  span.five {
    color: #720405;
  }
}

@media (min-width: $breakpoint-960) and (max-width: $breakpoint-1200-less-than) {
  #map-legend { 
    > div {
      width: 45%;
    }
  }
}

@media (max-width: $breakpoint-500) {
  #map-legend { 
    > div {
      width: 45%;
    }
  }
}


// Prefecture outbreak table.

#all-prefectures-table-container {
  max-width: 800px;
  margin: 0 auto;
}


table#prefectures-table, table#top-prefectures-table {
  width: 100%;  
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 10px;
  border: $color-box-border;

  th, td {
    font-size: 0.85rem;
    line-height: 1.2rem;
    padding: 0.8rem 0.8rem;
  }

  thead {
    tr {
      padding-bottom: 10px;
    }
    th {
      font-weight: bold;
      text-align: left;
      min-height: 1.5rem;
      vertical-align: middle;
    }
  }

  tbody {
    td {
      vertical-align: middle;
      padding: 0.5rem 1rem;
      height: 3rem;  
    }
  }

  tbody.prefecture-rows,
  tbody.pseudo-prefecture-rows,
  tbody.cruise-rows {
    tr:nth-child(odd) {
      background-color: rgb(244,247,248);
    }  
  }

  tbody.total-rows {
    td {
      font-weight: bold;
    }
  }

  tbody.cruise-header {
    color: rgba(200, 200, 200, 1);
  }

  .loading td {
    text-align: center;
    padding: 30px 0px;
  }

  th.prefecture, td.prefecture {
    min-width: 60px;
    max-width: 100px;
    overflow: hidden;
    text-align: right;
  }

  td.trend {
    padding: 0 10px;

    .trend-svg {
      width: 120px;
      height: 40px;
    }
  }

  td.confirmed {
    width: 2em;
  }

  td.delta {
    font-size: 0.8em;
  }

  div.increment {
    display: block;
    .delta {
      display: block;
    }
  }

  .today {
    color: $color-increment-today;
    display: block;
  }

  .yesterday {
    color: $color-increment-yesterday;
    display: block;
  }


}

// Table loading state

table#prefectures-table, 
table#top-prefectures-table {
  // Loading state (loaded)
  tbody.loading-rows {
    display: none;
    tr {
      td { padding: 20px;}
    }
  }

  thead,
  tbody.cruise-header,
  tbody.more-rows,
  tbody.total-rows {
    display: table-row-group;
  }
}


table#prefectures-table.loading, 
table#top-prefectures-table.loading {
  tbody.loading-rows {
    display: table-row-group;
  }

  thead,
  tbody.cruise-header,
  tbody.more-rows,
  tbody.total-rows {
    display: none;
  }
}


table#top-prefectures-table {
  th.recovered, td.recovered, th.deceased, td.deceased {
    display: none;
  }
  td.trend, th.trend {
    width: 120px;
  }
  tbody.prefecture-rows {
    // Only display the first 10 rows by default
    tr:nth-child(n+11) {
      display: none;
    }
  }
  tbody.more-rows {
    td a#show-more-rows {
      text-align: right;
    }
  }
}

@media (min-width: $breakpoint-960) and (max-width: $breakpoint-1200) {
  table#top-prefectures-table {
    td.trend, th.trend {
      width: 100px;
      .trend-svg {
        width: 100px;
      }
    }
  }
}

// Hide top prefecture table when it gets below this breakpoint.
@media (max-width: $breakpoint-960) {
  #prefecture-top-table-container {
    display: none;
  }
}

@media (max-width: $breakpoint-960) {
  #all-prefectures-table-container {
    #prefectures-table {
      th {
        font-size: 0.8rem;
      }
      th.delta {
        font-size: 0.7rem;
      }
      th, td {
        line-height: 1.1rem;
        padding: 0.5rem 0.5rem;
      }
    }
  }
}

@media (max-width: $breakpoint-600) {
  #all-prefectures-table-container {
    #prefectures-table {
      th, th.delta {
        font-size: 0.7rem;
      }
      td {
        font-size: 0.9rem;
      }
      .trend {
        min-width: 80px;
        max-width: 80px;
        .trend-svg {
          width: 100%;
        }
      }

    }
  }
}

@media (max-width: $breakpoint-500) {
  #all-prefectures-table-container {
    #prefectures-table {
      th, th.delta {
        font-size: 0.6rem;
        line-height: 1.05em;
      }
      .trend {
        .trend-svg {
          width: 100%;
        }
      }
      .deceased {
        display: none;
      }

    }
  }

}


//


#helpful-links,
#travel-restrictions, {
  max-width: 800px;
  margin: 0 auto;
  li {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
}


footer {
  line-height: 2rem;
  max-width: 800px;
  margin: 0 auto;

  a, a:active {
    color: #1976d2 !important;
  }
  .avatar {
    text-decoration: none;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}

// Loading Icon
.loader {
  padding: 20px;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #f44336;
  border-color: #f44336 transparent #f44336 transparent;
  animation: lds-dual-ring 1.6s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  &.embed {
    .embed-hide {
      display: none;
    }
  }
  &:not(.embed) {
    .embed-show {
      display: none;
    }
  }
}

.table-wrapper {
  overflow-x: auto;
  width: 100%
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .1em;
  vertical-align: -0.1em;
}

.country-link {
  white-space: nowrap;
}

.map-popup {
  font-size: 0.8rem;
  margin-bottom: -5px;

  h3 {
    margin: 0;
  }

  span.popup-increment {
    color: rgb(244,67,54);
    font-size: 0.7rem;
  }

}

.popup-content:hover {
  visibility: hidden;
}


// c3 chart styling

#trend-chart-container,
#daily-increase-container,
#prefecture-trajectory-container {
  path.c3-line {
    stroke-width: 2px;
  }
  line.c3-xgrid, line.c3-ygrid {
    stroke-dasharray: 0 0;
    stroke: #f0f0f0 !important;
  }
}

#daily-increase-chart {
  .c3-axis-x .tick line {
    display: none;
  }
}
