@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/c3/c3.min.css';

@import 'src/colors';
@import 'src/type';
@import 'src/layout';
@import 'src/loader';

// Use border-box override for more simple box-sizing.
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  color: $primary-black;
  background: $color-background;
}

#page, footer  {
  max-width: $breakpoint-1200-page-width;
  margin: 0 auto;
}
@media (min-width: $breakpoint-960) and (max-width: $breakpoint-1200-less-than) {
  #page, footer { max-width: $breakpoint-960-page-width; }
}
@media (min-width: $breakpoint-600) and (max-width: $breakpoint-960-less-than) {
  #page, footer { max-width: $breakpoint-600-page-width; }
}
@media (min-width: $breakpoint-500) and (max-width: $breakpoint-600-less-than) {
  #page, footer { max-width: $breakpoint-500-page-width; }
}
@media (max-width: $breakpoint-500) {
  #page, footer { max-width: 90%;  }
}

// Title styles

h1 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: $font-weight-extra-bold;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-bottom: 1rem;
  font-weight: $font-weight-bold;
}

h5 {
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;
}

.footnote {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  margin: 5px 10px 0px 10px;
}

.chart-description {
  font-size: 0.8em;
}


header {
  padding: 10px 0;

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;

    .lang-picker-title {
      font-style: italic;
      margin-right: 0.5rem;
    }

    .lang-picker-button {
      word-wrap: none;
    }
    
    .lang-picker {
      padding: 0.5rem 1em 0.5em 0;
      a {
        white-space: nowrap;
        text-decoration: none;
        margin-bottom: 0.3rem;
        &.active {
          border-bottom: solid 2px black;
          font-weight: $font-weight-bold;
        }
      }
    }

    #last-updated {
      padding: 0.5rem 0 0.5em 1em;
      flex-grow: 1;
      font-style: italic;
      text-align: right;
    }

  }
}

a, a:hover, a:visited {
  color: #000a12;
}

.text-center {
  text-align: center;
}

// KPI Numbers.
@import 'src/components/Kpi/kpi';

// National charts
#national-charts { width: 100%; }

@media (min-width: $breakpoint-960) {
  #national-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;
  }
  #trend-chart-container { 
    margin: 10px;
    flex: 1;
    width: 50%;
  }
  #daily-increase-container { 
    margin: 10px;
    flex: 1;
    width: 50%;
  }
}

#daily-increase-chart, #trend-chart {
  min-height: 320px;
}

#daily-increase-chart-box, #trend-chart-box {
  padding: 20px 10px 5px 10px;
  border-radius: $box-border-radius;
  background: $color-box-background;
  box-shadow: $color-box-shadow;
}

// Prefectural section

#prefecture-sections { width: 100%; }
@media (min-width: $breakpoint-960) {
  #prefecture-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;

    #prefecture-map-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }

    #prefecture-top-table-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }  
  }
}


#prefecture-trajectory-container {
  max-width: 800px;
  margin: 0 auto;
}

#prefecture-trajectory-chart {
  min-height: 500px;
}

#prefecture-trajectory-chart-box {
  padding: 10px 10px 5px 10px;
  border-radius: $box-border-radius;
  background: $color-box-background;
  box-shadow: $color-box-shadow;
}

#prefecture-map-contents {
  width: 100%;
  border-radius: $box-border-radius;
  background: $color-box-background;
  box-shadow: $color-box-shadow;
}


#all-prefectures-table-container {
  max-width: 800px;
  margin: 0 auto;
}


@import 'src/components/OutbreakMap/map';
@import 'src/components/PrefectureTable/prefectureTable';

#helpful-links,
#travel-restrictions, {
  max-width: 800px;
  margin: 0 auto;
  li {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
}

#travel-restrictions {
  margin-bottom: 5em;
  .country-link {
    white-space: nowrap;
  }
}


#footer-container {
  background: white;
  margin: 0;
}

footer {
  margin: 0 auto;
  line-height: 2rem;
  padding: 1rem;

  a, a:active {
    color: #1976d2 !important;
  }
  .avatar {
    text-decoration: none;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
}

body {
  &.embed {
    .embed-hide {
      display: none;
    }
  }
  &:not(.embed) {
    .embed-show {
      display: none;
    }
  }

  // Disable box shadow and grey background for embeds.
  &.embed {
    background: $color-embed-background;

    #prefecture-map-contents,
    #kpi .kpi-box
     {
      box-shadow: none;
      border: $color-box-border;
    }
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .1em;
  vertical-align: -0.1em;
}

// c3 chart styling
#trend-chart-container,
#daily-increase-container,
#prefecture-trajectory-container {
  path.c3-line {
    stroke-width: 2px;
  }
  line.c3-xgrid, line.c3-ygrid {
    stroke-dasharray: 0 0;
    stroke: #f0f0f0 !important;
  }
}

#daily-increase-chart {
  .c3-axis-x .tick line {
    display: none;
  }
}
