@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/c3/c3.min.css';

@import 'src/colors';
@import 'src/type';
@import 'src/layout';
@import 'src/loader';

// Use border-box override for more simple box-sizing.
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  color: $primary-black;
  background: $color-background;
}

body[data-direction=rtl] #page {
  direction: rtl;
}

#page, footer  {
  max-width: $breakpoint-1200-page-width;
  margin: 0 auto;
}
@media (min-width: $breakpoint-960) and (max-width: $breakpoint-1200-less-than) {
  #page, footer { max-width: $breakpoint-960-page-width; }
}
@media (min-width: $breakpoint-600) and (max-width: $breakpoint-960-less-than) {
  #page, footer { max-width: $breakpoint-600-page-width; }
}
@media (min-width: $breakpoint-500) and (max-width: $breakpoint-600-less-than) {
  #page, footer { max-width: $breakpoint-500-page-width; }
}
@media (max-width: $breakpoint-500) {
  #page, footer { max-width: 90%;  }
}

// Title styles

h1 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-weight: $font-weight-extra-bold;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  font-weight: $font-weight-bold;
}

h5 {
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  margin-block-end: 1rem;
}

.footnote {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  text-align: end;
  margin-block-start: 5px;
  margin-inline-end: 10px;
  margin-block-end: 0;
  margin-inline-start: 10px;
}


header {
  padding: 10px 0;

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;

    .lang-picker-title {
      font-style: italic;
      margin-inline-end: 0.5rem;
    }

    .lang-picker-button {
      word-wrap: none;
    }
    
    .lang-picker {
      padding-block-start: 0.5em;
      padding-inline-end: 1em;
      padding-block-end: 0.5em;
      padding-inline-start: 0;

      a {
        white-space: nowrap;
        text-decoration: none;
        margin-block-end: 0.3rem;

        &.active {
          border-bottom: solid 2px black;
          font-weight: $font-weight-bold;
        }
      }
    }

    #last-updated {
      padding-block-start: 0.5em;
      padding-inline-end: 0;
      padding-block-end: 0.5em;
      padding-inline-start: 1em;
      flex-grow: 1;
      font-style: italic;
      text-align: end;
    }

  }
}

a, a:hover, a:visited {
  color: #000a12;
}

a.inline, a.inline:visited, a.inline:hover {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

// KPI Numbers.
@import 'src/components/Kpi/kpi';

// National charts
.national-charts { width: 100%; }

.chart-control {
  font-size: 0.8rem;

  margin-block-start: 2rem;
  margin-block-end: 0;
  padding-block-start: 0.5rem;
  padding-block-end: 0;

  .time-period-caption {
    font-weight: bold;    
  }

  a {
    text-decoration: underline;
  }

  a.selected {
    font-weight: bold;
    text-decoration: none;
  }
}

@media (min-width: $breakpoint-960) {
  .national-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;
  }
  .daily-increase-container { 
    margin: 10px;
    flex: 1;
    width: 50%;
  }
  .chart-control {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}

.daily-increase-chart {
  min-height: 320px;
}

.daily-increase-chart-short {
  min-height: 180px;
}

.daily-increase-chart-box {
  padding-block-start: 20px;
  padding-inline-end: 10px;
  padding-block-end: 5px;
  padding-inline-start: 10px;
  border-radius: $box-border-radius;
  background: $color-box-background;
  box-shadow: $color-box-shadow;
}

.chart-description {
  font-size: 0.8rem;
}

// Regional section
@import 'src/components/RegionalCharts/regional';


// Prefectural section

#prefecture-sections { width: 100%; }
@media (min-width: $breakpoint-960) {
  #prefecture-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //align-items: stretch;

    #prefecture-map-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }

    #prefecture-top-table-container { 
      margin: 10px;
      flex: 1;
      width: 50%;
    }  
  }
}

// National charts

#prefecture-map-contents {
  width: 100%;
  border-radius: $box-border-radius;
  background: $color-box-background;
  box-shadow: $color-box-shadow;
}


#all-prefectures-table-container {
  max-width: 800px;
  margin: 0 auto;
}


@import 'src/components/OutbreakMap/map';
@import 'src/components/PrefectureTable/prefectureTable';

#helpful-links,
#travel-restrictions {
  max-width: 800px;
  margin: 0 auto;
  li {
    margin-block-end: 20px;
    word-wrap: break-word;
  }
}

#footer-container {
  background: white;
  margin: 0;
}

footer {
  margin: 0 auto;
  padding: 1rem;

  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 0 0 1rem;
  }

  a, a:active {
    color: #1976d2 !important;
  }
  .avatar {
    text-decoration: none;
    img {
      height: 50px;
      width: 50px;
      margin: 5px;
      border-radius: 50%;
    }
  }
}

body {
  &.embed {
    .embed-hide {
      display: none;
    }
  }
  &:not(.embed) {
    .embed-show {
      display: none;
    }
  }

  // Disable box shadow and grey background for embeds.
  &.embed {
    background: $color-embed-background;

    #prefecture-map-contents,
    #kpi .kpi-box
     {
      box-shadow: none;
      border: $color-box-border;
    }

    // Smaller avatars for embedded mode.
    .avatar img {
      width: 30px;
      height: 30px;
    }
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin-block-start: 0;
  margin-inline-end: .1em;
  margin-block-end: 0;
  margin-inline-start: .1em;
  vertical-align: -0.1em;
}

// c3 chart styling
.daily-increase-container {
  path.c3-line {
    stroke-width: 2px;
  }
  line.c3-xgrid, line.c3-ygrid {
    stroke-dasharray: 0 0;
    stroke: #f0f0f0 !important;
  }
}

.daily-increase-chart {
  .c3-axis-x .tick line {
    display: none;
  }

  .c3-bar {
    // Forces drawing of stroke so it doesn't have anti-aliasing patterns.
    stroke-width: 1px !important;
  }
}

.hidden {
  display: none;
}